@using BaseApp.Web.Areas.Admin.Models.User
@using BaseApp.Web.Areas.Admin.Components.User
@model UserListArgs

@{
    ViewBag.Title = "Users";
}

<div class="col-xs-12">
    <a href="@Url.Action("Edit", "User")">Create New</a>
    &nbsp;|&nbsp;
    <a href="#" class="restoreDeletedUsers">Restore deleted users (TEST transaction - remove in real app)</a>
    <span id="restoreLoading" style="color:gray; display:none; font-size:small; padding-left: 5px;">Loading...</span>
</div>


<div class="col-xs-12 userListContainer">
    <div class="col-xs-12 paging-sorting-header">
        <div class="row">
            <div class="col-xs-8">
                <h4>Users</h4>
            </div>
            <div class="col-xs-4">
                <form class="paging-sorting-filter-form">
                    <div class="input-group">
                        <input type="text" name="Search" class="form-control" data-highlight-column="@nameof(UserListItemModel.FirstName),@nameof(UserListItemModel.LastName)" placeholder="Search" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" data-apply="1"><i class="glyphicon glyphicon-search"></i></button>
                            <button type="button" class="btn btn-default" data-clear><i class="glyphicon glyphicon-remove-circle"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="paging-sorting-update">
        @(await Component.InvokeAsync<UserListViewComponent>(new { args = Model }))        
    </div>
</div>


<script type="text/javascript">
    $(function (){
        UserListHelper("div.userListContainer");
    });
    var UserListHelper = function (container){
        var uiElements = {
               mainContainer: null,
               listInnerPagingSorting: null,
               restoreDeletedUsers: null,
               restoreLoading: null

        }
        function Init(){
            initUI();
            subscribeToEvents();
        }
        function initUI(){

            uiElements.mainContainer = $(container);
            uiElements.listInnerPagingSorting = appPagingSorting(container, "@Url.Action("GetUsersList")");
            uiElements.restoreDeletedUsers = $(".restoreDeletedUsers");
            uiElements.restoreLoading = $("#restoreLoading");
        }
        function subscribeToEvents(){
            uiElements.mainContainer.on('click', '.delete-link', function (e) {
                e.preventDefault();
                if (!window.confirm("Are you sure?"))
                    return;

                var id = $(this).closest('[data-item-id]').attr('data-item-id');
                $.post('@Url.Action("Delete")', { id: id }, function() {
                            uiElements.listInnerPagingSorting.sendRequest();
                        });
            });
            uiElements.restoreDeletedUsers.on('click',function (e) {
                e.preventDefault();
                if (!window.confirm("Are you sure?"))
                    return;

                uiElements.restoreLoading.show();
                $.post('@Url.Action("RestoreDeletedUsers")', function () {
                    uiElements.listInnerPagingSorting.sendRequest();
                }).always(function () {
                    uiElements.restoreLoading.hide();
                });
            });
        }
        Init();
    }
</script>